In [2]:
import googlemaps
from datetime import datetime
from dotenv import load_dotenv
import os
import pandas as pd

load_dotenv()

True

In [4]:
rank = pd.read_csv('data/rankings.csv').drop_duplicates()
uk = rank[rank['country'] == 'United Kingdom'].copy()

uk['Location'] = uk['institution'].apply(lambda x: x + ", United Kingdom")

uk.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Location
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012,"University of Cambridge, United Kingdom"
6,7,University of Oxford,United Kingdom,2,13,28,9,15,13,19,NaN,26,82.34,2012,"University of Oxford, United Kingdom"
27,28,Imperial College London,United Kingdom,3,84,73,35,26,26,29,NaN,41,57.53,2012,"Imperial College London, United Kingdom"
30,31,University College London,United Kingdom,4,35,101,45,27,23,33,NaN,86,55.21,2012,"University College London, United Kingdom"
59,60,University of Edinburgh,United Kingdom,1,71,101,43,64,41,70,NaN,101,48.43,2012,"University of Edinburgh, United Kingdom"

In [5]:
def get_locations(location_list):
    retter = []
    gmaps = googlemaps.Client(key=os.environ.get('GOOGLE_MAP_API_KEY'))

    for loc in location_list:
        try:
            # Geocoding an address
            geocode_result = gmaps.geocode(loc)
            retter.append(geocode_result[0]['geometry']['location'])
        except:
            retter.append(None)

    return retter

locs = get_locations(uk['Location'])

In [11]:
loc_df = pd.DataFrame(locs)

In [13]:
print(loc_df.shape)
print(uk.shape)

(144, 2)
(144, 15)

In [18]:
uk2 = pd.concat([uk.reset_index(drop=True), loc_df.reset_index(drop=True)],axis=1)

In [21]:
uk2.to_csv('data/rankings2.csv')